<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/_layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

     <link rel="stylesheet" th:href="@{/css/productMain.css}">
    <!-- <link rel="stylesheet" href="../../static/css/productMain.css"> -->
    
    <title>올고</title>

    <style>
        .form_section_content select {		/* 카테고리 css 설정 */
            width: 92%;
            height: 35px;
            font-size: 20px;
            text-align-last: center;
            margin-left: 5px;
        }

        .cate_wrap:not(:first-child) {
            margin-top: 20px;
        }

        .cate_warp {
            margin-bottom: 10px;
            margin-right:  40px;
        }
        
        .cate_warp span {
            font-weight: 600;
            cursor: pointer;
            font-weight: bold;
        }
        
        .cate-sub {
            display: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .cate-sub li {
            margin-bottom: 5px;
        }
        
        .cate-sub li a, .ld {
            color: #333;
            text-decoration: none;
        }
        
        .cate-sub li a:hover {
            color: #ff0000;
        }
    </style>

    <script th:inline="javascript">
        function showSub(e){
            let list = document.getElementsByClassName('cate-sub');
            for (let i = 0; i < list.length; i++) {
                list[i].style.display = 'none';
            }
            e.nextElementSibling.style.display = 'block';
        }      
        $(document).ready(function(){
            let cateList = [[${cateJson}]];
            const cteL = document.getElementById('categoryList');
            let allEl = document.createElement('div');
            allEl.innerHTML = '<div class="cate_warp"><span><a href="/product/shopping" class="ld">ALL</a></span></div>';
            cteL.appendChild(allEl);
            for (let i = 0; i < cateList.length; i++) {
                if(cateList[i].tier=='1'){
                    let div = document.createElement('div');
                    let temp = '';
                    temp+='<div class="cate_warp">';
                    temp+='<span onclick="showSub(this);">'+cateList[i].categoryName+'</span>';
                    temp+='<ul class="cate-sub">';
                    temp+='<li><a href="/product/shopping?categoryId='+cateList[i].categoryId+'"> ALL</a></li>';
                    cateList[i].children.forEach(element => {
                        temp += '<li><a href="/product/shopping?categoryId=' + element.categoryId + '">' + element.categoryName + '</a></li>';
                    });
                    temp+='</ul>';
                    temp+='</div>';
                    div.innerHTML = temp;                  
                    cteL.appendChild(div);
                }
            }
        });
    </script>

</head>
<body>
<main layout:fragment="content" style="padding-top:50px;">

    <div id="categoryList" style="display: flex;">
    </div>

    <div th:if="${products}">
    <section class="cards-wrap">
        <article class="card-top " th:each="product : ${products}">
            <a class="card-link " data-event-label="572574579" th:href="@{/product/productContent(product_no=${product.product_no})}">
                <div class="card-photo ">
                <img src="https://via.placeholder.com/150" alt="샘플이미지">
                </div>
                <div class="card-desc">
                    <h2 class="card-title" th:text="${product.product_name}">이름</h2>
                    <div class="card-price" th:text="${product.price}">
                        가격
                    </div>
                    <div class="card-counts">
                        수량
                <span th:text="${product.view}">
            조회수
          </span>
                        <span th:text="${product.favorite}">
            좋아요
          </span>
                    </div>
                </div>
            </a></article>
    </section>
    <section class="list_bottom_btnbox row">
        <div class="col">

        </div>
        <div class="pagination col" style="margin: 0 auto;" th:if="${!products.isEmpty()}">
            <ul>
                <li th:class="${products.first} ? disabled">
                    <a th:if="${not products.first}" th:href="@{${url}(page=0, size=${products.size}, sort=${products.sort})}">&laquo;</a>
                    <span th:if="${products.first}">&laquo;</span>
                </li>
                <li th:class="${products.first} ? disabled">
                    <a th:if="${not products.first}" th:href="@{${url}(page=${products.number - 1}, size=${products.size}, sort=${products.sort})}">&lt;</a>
                    <span th:if="${products.first}">&lt;</span>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, products.totalPages - 1)}" th:class="${pageNumber == products.number} ? active">
                    <a th:if="${pageNumber != products.number}" th:href="@{${url}(page=${pageNumber}, size=${products.size}, sort=${products.sort})}" th:text="${pageNumber + 1}"></a>
                    <span th:if="${pageNumber == products.number}" th:text="${pageNumber + 1}"></span>
                </li>
                <li th:class="${products.last} ? disabled">
                    <a th:if="${not products.last}" th:href="@{${url}(page=${products.number + 1}, size=${products.size}, sort=${products.sort})}">&gt;</a>
                    <span th:if="${products.last}">&gt;</span>
                </li>
                <li th:class="${products.last} ? disabled">
                    <a th:if="${not products.last}" th:href="@{${url}(page=${products.totalPages - 1}, size=${products.size}, sort=${products.sort})}">&raquo;</a>
                    <span th:if="${products.last}">&raquo;</span>
                </li>
            </ul>
        </div>
        <div th:if="${products.isEmpty()}">
            <h1>상품이 비어있습니다.</h1>
        </div>
        <div class="fr col" style="text-align: right; display: flex; flex-direction: row-reverse; align-items: center;">
            <button id="write_post_btn" sec:authorize="isAuthenticated()" type="button" class="btn btn-sm btn-secondary">상품등록</button>
        </div>
    </section>
    </div>
    <div style="width:500px; margin: 0 auto; padding: 10px 10px;">
        <form method="get" th:action="@{/product/shopping}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="search-type" name="searchType">
                        <option value="titleOrContent" id="search-all" class="search-all">제목/내용</option>
                        <option value="title" id="search-title" class="search-title">제목</option>
                        <option value="writer" id="search-writer" class="search-writer">작성자</option>
                    </select>
                </div>
                <input type="text" id="keyword" name="keyword" class="form-control" aria-label="Text input with dropdown button" required>
                <input type="hidden" id="categoryId" name="categoryId" th:value="${param.categoryId}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>

</main>
</body>
</html>