<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/_layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

     <link rel="stylesheet" th:href="@{/css/productMain.css}">
    <!-- <link rel="stylesheet" href="../../static/css/productMain.css"> -->
    <title>랭킹</title>

    <style>
        .form_section_content select {		/* 카테고리 css 설정 */
            width: 92%;
            height: 35px;
            font-size: 20px;
            text-align-last: center;
            margin-left: 5px;
        }
        .cards-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .card-top{
            width:20%;
        }

        .cate_wrap:not(:first-child) {
            margin-top: 20px;
        }

        .cate_warp {
            margin-bottom: 10px;
            margin-right:  40px;
        }
        
        .cate_warp span {
            font-weight: 600;
            cursor: pointer;
            font-weight: bold;
        }
        
        .cate-sub {
            display: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .cate-sub li {
            margin-bottom: 5px;
        }
        
        .cate-sub li a, .ld {
            color: #333;
            text-decoration: none;
        }
        
        .cate-sub li a:hover {
            color: #ff0000;
        }
        
        .raking-text{
            margin-left: 10px;
        }
    </style>

    <script th:inline="javascript">
        function showSub(e){
            let list = document.getElementsByClassName('cate-sub');
            for (let i = 0; i < list.length; i++) {
                list[i].style.display = 'none';
            }
            e.nextElementSibling.style.display = 'block';
        }      
        $(document).ready(function(){
            let cateList = [[${cateJson}]];
            const cteL = document.getElementById('categoryList');
            let allEl = document.createElement('div');
            let cateId = getParam('categoryId');
            let param = getParam('date');

            allEl.innerHTML = '<div class="cate_warp"><span><a href="/product/ranking?date='+param+'" class="ld">ALL</a></span></div>';
            cteL.appendChild(allEl);
            for (let i = 0; i < cateList.length; i++) {
                if(cateList[i].tier=='1'){
                    let div = document.createElement('div');
                    let temp = '';
                    temp += '<div class="cate_warp">';
                    temp += '<span onclick="showSub(this);">' + cateList[i].categoryName + '</span>';
                    temp += '<ul class="cate-sub" data-cateParent="' + cateList[i].categoryId + '">';
                    temp += '<li><a href="/product/shopping?categoryId=' + cateList[i].categoryId + '"> ALL</a></li>';
                    cateList[i].children.forEach(element => {
                        temp += '<li><a href="/product/shopping?categoryId=' + element.categoryId + '" data-categoryId="' + element.categoryId + '">' + element.categoryName + '</a></li>';
                    });
                    temp += '</ul>';
                    temp += '</div>';

                    div.innerHTML = temp;
                    cteL.appendChild(div);
                }
            }

            console.log(cateId);
            if (cateId) {
                let parent = document.querySelector('ul[data-cateParent="' + cateId + '"]');
                let child = document.querySelector('a[data-categoryId="' + cateId + '"]');
                if (parent) {
                    parent.style.display = 'block';
                    let allChild = parent.querySelector('li:first-child a');
                    if (allChild) {
                        allChild.textContent = 'ALL';
                        allChild.style.color = 'red';
                    }
                } else if (child) {
                    console.log(child);
                    let parentDiv = child.closest('.cate-sub');
                    if (parentDiv) {
                        parentDiv.style.display = 'block';
                        child.style.color = 'red';
                    }
                }
            }
        });

        function getParam(param){
            let includeParam = location.search.includes(param);
            let paramData = '';
            if (includeParam) {
                // 'date' 파라미터가 이미 URL에 있는 경우
                const searchParams = new URLSearchParams(location.search);
                const dateValue = searchParams.get(param);
                paramData = dateValue;
            }

            return paramData;
        }

        function selectDate() {
            let dateParam = location.search.includes('date');
            let selectedDate = document.getElementById('dateCate').value;
            let url = new URL(location.href);
            if (dateParam) {
                // 'date' 파라미터가 이미 URL에 있는 경우
                url.searchParams.set('date', selectedDate);
            } else {
                // 'date' 파라미터가 URL에 없는 경우
                url.searchParams.append('date', selectedDate);
            }
            console.log(url);

            location.href = url.toString();
        }

        function addItems(){
            let sizeParam = location.search.includes('size');
            let url = new URL(location.href);
            let size = [[${size}]] +10;
            if (sizeParam) {
                // 'date' 파라미터가 이미 URL에 있는 경우
                url.searchParams.set('size', size);
            } else {
                // 'date' 파라미터가 URL에 없는 경우
                url.searchParams.append('size', size);
            }

            location.href = url.toString();
        }
    </script>

</head>
<body>
<main layout:fragment="content" style="padding-top:50px;">

    <div id="categoryList" style="display: flex;">
    </div>

    <div style="display: flex;">
        <select name="date" id="dateCate" onchange="selectDate()" th:value="${date}">
            <option value="daily" th:selected="${date=='daily'}">1일</option>
            <option value="weekly" th:selected="${date=='weekly'}">7일</option>
            <option value="monthly" th:selected="${date=='monthly'}">30일</option>
        </select>
    </div>

    <div th:if="${products}">
    <section class="cards-wrap">
        <article class="card-top " th:each="product, productStat : ${products}">
            <span th:text="${productStat.count}" th:style="${productStat.count == 1 ? 'color:red' : productStat.count == 2 ? 'color:blue' : productStat.count == 3 ? 'color:green' : 'color:black'}" class="raking-text"></span>
            <a class="card-link " data-event-label="572574579" th:href="@{/product/productContent(product_no=${product.product_no})}">
                <div class="card-photo">
                    <picture th:each="img : ${product.productImgs}">
                        <source th:srcset="@{'/img/' + ${img.url}}" type="image/webp" width="121px" height="121px">
                        <source th:srcset="@{'/img/' + ${img.url}}" type="image/jpeg">
                        <img src="https://via.placeholder.com/150" alt="샘플이미지" th:src="@{'/img/' + ${img.url}}" width="121px" height="121px">
                    </picture>
                </div>
                <div class="card-desc">
                    <h2 class="card-title" th:text="${product.product_name}">이름</h2>
                    <div class="card-price" th:if="${product.discount_rate}">
                        <span th:text="${#numbers.formatInteger((product.discount_rate*100), 1, 'COMMA') + '%'}" class="text-danger">할인율</span>
                        <del th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}" class="text-secondary opacity-50">원가</del>
                        <strong th:text="${#numbers.formatInteger(product.price*(1-product.discount_rate), 3, 'COMMA') + '원'}">최종</strong>
                    </div>
                    <div class="card-price" th:if="${product.discount_rate==null}">
                        <strong th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}">원가</strong>
                    </div>
                </div>
            </a></article>
    </section>
    
    <div class="text-center" th:if="${size < products.getTotalElements()}">
        <button class="btn" onclick="addItems()">
            <i style="font-size:24px" class="fas">&#xf103;</i>
        </button>
    </div>
    

</main>
</body>
</html>