<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>타이틀</title>
    <style>
        /* Container for the registration form */
        .register-container {
        margin: 0 auto;
        max-width: 500px;
        }

        .is-invalid{
            background-color: white;
            color: red;
        }
        
    </style>
    <script>
        $(document).ready(function() {
            $('#check-username').click(function() {
            var username = $('#username').val();
            // $.ajax({
            // url: '/checkUsername',
            // type: 'POST',
            // data: {username: username},
            // success: function(response) {
            //     if (response == 'available') {
            //     $('#username-message').html('사용 가능한 ID입니다.').css('color', 'green');
            //     } else {
            //     $('#username-message').html('이미 사용중인 ID입니다.').css('color', 'red');
            //     }
            // }
            // });
        });
        usernameInput = document.getElementById("username");
        passwordInput = document.getElementById("password");
        passwordConfirmInput = document.getElementById("password-confirm");
        emailInput = document.getElementById("email");
        phoneInput = document.getElementById("phone");
        ssnInput = document.getElementById("ssn");
        agreeInput = document.getElementById("agree");


        
        });
        const usernameRegex = /^[a-zA-Z0-9]{8,20}$/;
        const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,20}$/;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const phoneRegex = /^\d{3}-\d{3,4}-\d{4}$/;
        const ssnRegex = /^\d{6}-[1-4]\d{6}$/;

        var usernameCheck;
        var passwordCheck;
        var passwordConfirmCheck;
        var emailCheck;
        var phoneCheck;
        var ssnCheck;
        var agreeCheck;

        function validateRegisterForm(input) {
            
            // 필수 항목 검사
            let inputText = input.value.trim();

            if(inputText===''){
                console.log('확인');
                displayErrorMessage(input,'값을 입력해주세요!');
                return false;
            }else{       
                switch(input.name){
                    case 'username' : 
                        if(!usernameRegex.test(inputText)){
                            displayErrorMessage(input, 'ID는 8~20자의 영문 대소문자와 숫자만 입력 가능합니다.');
                            usernameCheck = false;                         
                        }else {
                            clearErrorMessage(input);
                            usernameCheck = true;
                        }
                        break;
                    case 'password' : 
                        if(!passwordRegex.test(inputText)){
                            console.log('d');
                            displayErrorMessage(input, '비밀번호는 영문 대소문자, 숫자, 특수문자를 포함한 8자 이상이어야 합니다.');
                            passwordCheck = false;                         
                        }else {
                            clearErrorMessage(input);
                            passwordCheck = true;
                        }
                        break;
                    case 'password-confirm' : 
                        if(inputText!=document.getElementById('password').value.trim()){
                            displayErrorMessage(input, '비밀번호가 일치하지 않습니다.');
                            passwordConfirmCheck = false;                         
                        }else {
                            clearErrorMessage(input);
                            passwordConfirmCheck = true;
                        }
                        break;
                    case 'email' : 
                        if(!emailRegex.test(inputText)){
                            displayErrorMessage(input, '이메일 형식이 올바르지 않습니다.');
                            emailCheck = false;                         
                        }else {
                            clearErrorMessage(input);
                            emailCheck = true;
                        }
                        break;
                    case 'phone' :
                        if(!phoneRegex.test(inputText)){
                            displayErrorMessage(input, '휴대번호 형식이 올바르지 않습니다.');
                            phoneCheck = false;                         
                        }else {
                            clearErrorMessage(input);
                            phoneCheck = true;
                        }
                        break; 
                    case 'ssn' : 
                        if(!ssnRegex.test(inputText)){
                            displayErrorMessage(input, '주민번호 형식이 올바르지 않습니다.');
                            ssnCheck = false;                         
                        }else {
                            clearErrorMessage(input);
                            ssnCheck = true;
                        }
                        break;
                }
            }

            return false;
            }


            function displayErrorMessage(inputElement, message) {

                let errorMessageElement = inputElement.nextElementSibling;

                if(inputElement.name=='username'){
                    errorMessageElement = document.querySelector('#username-error');
                }else if(inputElement.name=='ssn'){
                    errorMessageElement = document.querySelector('#ssn-error');
                }
                
                errorMessageElement.className = 'is-invalid';
                errorMessageElement.innerText = message;

                // Insert the error message after the input element
            }
            
            function clearErrorMessage(inputElement) {
                let errorMessageElement = inputElement.nextElementSibling;
                if(inputElement.name=='username'){
                    errorMessageElement = document.querySelector('#username-error');
                }else if(inputElement.name=='ssn'){
                    errorMessageElement = document.querySelector('#ssn-error');
                }
                errorMessageElement.innerText = '';
//              errorMessageElement.style.display = 'none';
                inputElement.classList.remove('is-invalid');
            }

            function validateRegisterCheck(form){
                agreeCheck = document.getElementById('agree').checked;
                let inputs = form.getElementsByClassName('input-data');
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].value.trim() == '') {
                    return false;
                    }
                }
                console.log('확인');
                if(usernameCheck && passwordCheck && passwordConfirmCheck && emailCheck && phoneCheck && ssnCheck && agreeCheck == true){
                    
                    return true;
                }else return false;

            }

    </script>
</head>
<body>
    <div layout:fragment="content">
        <!-- content script -->
        <div class="register-container container">
            <form class="register-form" id="register-form" onsubmit="return validateRegisterCheck(this)">
              <h2>회원가입</h2>
              <div class="form-group register-group">
                <label for="username">ID</label>
                <div class="form-group register-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-data" id="username" name="username" onblur="validateRegisterForm(this)" autofocus>
                        <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" id="check-username">중복확인</button>
                        </div>
                    </div>
                </div>
                <div id="username-error"></div>
              </div>
              <div class="form-group register-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control input-data" id="password" name="password" onblur="validateRegisterForm(this)">
                <div id="password-error"></div>
              </div>
              <div class="form-group register-group">
                <label for="password-confirm">비밀번호 확인</label>
                <input type="password" class="form-control input-data" id="password-confirm" name="password-confirm" onblur="validateRegisterForm(this)">
                <div id="passwordCheck-error"></div>
              </div>
              <div class="form-group register-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control input-data" id="email" name="email" onblur="validateRegisterForm(this)">
                <div id="email-error"></div>
              </div>
              <div class="form-group register-group">
                <label for="phone">전화번호</label>
                <input type="tel" class="form-control input-data" id="phone" name="phone" onblur="validateRegisterForm(this)">
                <div id="phone-error"></div>
              </div>
              <div class="form-group register-group">
                <label for="ssn">주민등록번호</label>
                <div class="input-group">
                  <input type="text" class="form-control input-data" id="ssn" name="ssn" onblur="validateRegisterForm(this)">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" id="check-ssn">중복확인</button>
                  </div>
                </div>
                <div id="ssn-error"></div>
              </div>
              <div class="form-group register-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="agree" name="agree" required>
                  <label class="form-check-label" for="agree">본인은 개인정보 수집 및 이용에 동의합니다.</label>
                </div>
              </div>
              <div class="form-group register-group text-center">
                <button type="submit" class="btn btn-primary">회원가입</button>
              </div>
            </form>
          </div>
    </div>
</body>
</html>